<div >
    <ul ng-repeat="individualDoctor in registeredIndividualDoctors">
        <li> Id  - {{individualDoctor.idComman}}</li>
        <li> Name - {{individualDoctor.name}}</li>
        <li> Type - {{individualDoctor.commanType}}</li>
        <li> Mobile - {{individualDoctor.mobile}}</li>
        <li> Email - {{individualDoctor.email}}</li>
        <li> District - {{individualDoctor.district}}</li>
        <li> Taluka - {{individualDoctor.taluka}}</li>
        <li> Town - {{individualDoctor.town}}</li>
        <li> PushId - {{individualDoctor.pushId}}</li>
        <li> Imei - {{individualDoctor.imei}}</li>
        <li> User Name - {{individualDoctor.userName}}</li>
        <li> Password - {{individualDoctor.password}}</li>
        <li> Degree - {{individualDoctor.degree}}</li>
        <li> Post Degree - {{individualDoctor.pgDegree}}</li>
        <li> Spelization - {{individualDoctor.spelization}}</li>
    </ul>
</div>